<%- include('partials/head') %>
	<body>
		<%- include('partials/nav') %>

		<ul>
			<h1>All Dogs We Have</h1>
			<% for (let dog of dogs) { %>
			<li><%= dog %></li>
			<% } %>
		</ul>
	</body>
</html>
