<%- include('partials/head') %>
<body>
		<%- include('partials/nav') %>
		<h1>Home Page</h1>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, architecto
			repudiandae magnam rem impedit placeat asperiores officiis non. Est ullam
			perferendis fuga. Necessitatibus quod iusto delectus voluptatibus eveniet
			magni nisi. <%= 2+4%>
		</p>

		<p>
			Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea molestiae
			sequi quae, neque sapiente ad voluptatem modi rerum error facere ipsum,
			commodi ducimus impedit, quidem obcaecati asperiores quas aliquam
			similique.
		</p>
	</body>
</html>
